---
---

header {
  text-align: center;
  margin-top: 4em;
}
h2 {
  margin-top: 2em;
}
footer {
  margin: 2em 0;
}
blockquote p:before,
blockquote p:after {
  content: '"';
} 
img {
  @extend .img-fluid, .mx-auto, .d-block;
  max-height: 100vh;
}
